%head
#alert
%body
  #locations-container{ data: {location: @locations}}
    #alert
    .inner.cover
      %h2.cover-heading Welcome, Scott!
      %h3 Pick your stores so we can help you hire.

      .col-sm-4
        #search_app